{% extends 'ProyectoWebApp/base.html' %}

{% load static %}
{% block content %}

{% if request.user.is_authenticated %}
{% if user.is_superuser %}
{% load crispy_forms_tags %}
<div class="contenedorFormulario">
    <div class="container" style="width: 700; margin: auto;"></div>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {{form|crispy}}
        
        <input type="submit" value="Submit">
    </form>
</div>
</div>
{% endif %}
{% endif %}
{% endblock %}