{% extends 'ProyectoWebApp/base.html' %}

{% block content %}

{% load crispy_forms_tags %}
	<!--Reset Password-->
	<div class="contenedorFormulario" style="text-align: center;">
  	 	<h2 style="text-align: center;" class="font-weight-bold mt-3">Resetear clave</h2>
		<hr>
		<p >¿Olvidaste tu clave? Ingrese su dirección de correo electrónico a continuación, 
            y le enviaremos instrucciones por correo electrónico para configurar una nueva.</p>
            <form method="POST">
            {% csrf_token %}
            {{ form|crispy }} 
            <br>                   
            <button class="btn btn-primary" type="submit" style="background-color: black;">Enviar email</button>
        </form>
  	</div> 

{% endblock %}