{% extends 'ProyectoWebApp/base.html' %}
{% load static %}

{% block content %}

<div>
{% if user.is_authenticated %}
{% if user.is_superuser %}
<a href="{% url 'agregar_producto' %}" class="btn btn-sm btn-success">Agregar Producto</a>
{% endif %}
{% endif %}
</div>

<!-- Categorías -->
<div style="float:left ; width: auto" class="contenedorFormulario">
    <p style="text-align: left;"></p>
    <a href="{% url 'categorias_producto' %}" class="btn">Categorias</a>

    {% for categoria in categorias %}
    <ul>
        <a href="{% url 'categoria' categoria.id %}" class="btn"
            style="background-color: black; width: 100">{{categoria.nombre}}</a>;
    </ul>
    {% endfor %}
</div>


<!-- Productos -->
<div class="container">
    <aside>
        <div class="float-right">

            {% if request.user.is_authenticated %}
            <div style="float:right ; width: auto; margin: 10;" class="contenedorFormulario">
                <p>Ir al Carro</p>
                <a href="{% url 'carro:carro' %}">
                    <img src="{% static 'ProyectoWebApp/img/carrito.jpg' %}" class="card-img-top" width="80" height="80"
                        margin: 10;">
                </a>
                <p>Valor: $ {{importe_total_carro}}</p>
            </div>
            {% else %}

            <div class="alert alert-danger text-center">Login</div>

            {% endif %}

        </div>

    </aside>

    <div class="row">
        {% for producto in productos %}

        <div class="col-md-3">
            <div class="card" style="width: 100%; margin: 10px 10px 10px 10px;">
                <img src="{{producto.imagen.url}}" class="card-img-top" width="100" height="200">

                <div class="card-body" style="text-align: center;">

                    <h7 class="card-tittle">{{producto.nombre}}</h7>
                    <p class="card-text">$ {{producto.precio}}</p>

                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'editar_producto' producto.id %}" class="btn btn-info">Editar</a>
                    <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
            <!---card que se cierra-->
        </div>

        {% endfor %}
    </div>
</div>
<br>
<div>
    {% include 'tienda/paginador.html' %}
</div>
{% endblock %}